### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*

### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~

### Mac OS X ###
## Mac OS X metadata files:
*.DS_Store

### BTU Sensitive Documents ###
## BTU enrollment, transcript, and academic records
*Transcipt of Records*
*Transcript of Records*
*Studienbescheinigung*
*Certificate of Enrolment*
*Notenübersicht*
*BTU*.pdf
Khaleel_Certificates_References.pdf

